<h1> Héroe <small> Nombre del héroe </small> </h1>
<hr>

<div class="row">
    <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-danger mt-2" routerLink="/heroes">  
            <i class="fa fa-arrow-left" > Regresar </i>
        </button>
    </div>
</div>

<div class="row animate__animated animate__fadeIn animate__slow">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm">
            <div class="form-group">
                <label> FireBase ID </label>
                <input type="text" class="form-control" placeholder="Firebase ID" disabled="disabled" [(ngModel)]="heroe.id" name="id">
                <small class=" form-text text-muted"> Este campo se autogenera </small>
            </div>
            <div class="form-group">
                <label> Nombre </label>
                <input type="text" class="form-control" placeholder="Nombre del héroe" [(ngModel)]="heroe.nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label> Poder </label>
                <input type="text" class="form-control" placeholder="Poder del héroe" [(ngModel)]="heroe.poder" name="poder">
            </div>
            <br>
            <div class="form-group">
                <label> Estado del héroe </label> <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo = false" class="btn btn-outline-success w-50 mt-1">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>
                <button *ngIf="!heroe.vivo" (click)="heroe.vivo = true" class="btn btn-outline-danger w-50 mt-1">
                    <i class="fa fa-dizzy"></i>
                    Muelto
                </button>
            </div>
            <hr>
            <div class="form-group text-center">
                <button class="btn btn-outline-info" type="submit">
                    <i class="fa fa-save" ></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>